<%- include("header.ejs")%> <%- include("menu.ejs") %>
<title>C H O C C - Checkout</title>

<body>
	<div class="checkout">
		<%- include('messages.ejs') %> <% products.forEach((product) => { %>
		<div class="products">
			<div class="checkout-img">
				<img class="apt-photo" src="<%= product.url1 %>" />
			</div>
			<div class="checkout-header">
				<h3><%= product.city %>, <%= product.street %></h3>
			</div>
			<div class="checkout-price">
				<span>Pris <%= product.productprice %></span>
			</div>
			<a href="/delete/<%= product._id %>">Delete</a>
		</div>
		<% }) %> <% let total = 0 %> <% for (let i = 0; i < products.length; i++) {
		%> <% total += products[i].productprice %> <% } %>
		<p class="alignCenter">
			Totalt pris: <span class="totalPrice"><%= total %> </span>SEK
		</p>
	</div>

	<button class="btnAlign"><a href="/order">Betala!</a></button>
</body>
<%- include("footer.ejs") %>
