<%- include("header.ejs")%> <%- include("menu.ejs") %>
<title>C H O C C - Checkout</title>

<body>
	<div class="checkout">
		<%- include('messages.ejs') %> <% products.forEach((product) => { %>
		<div class="products">
			<div class="checkout-img">
				<img class="apt-photo" src="<%= product.url1 %>" />
			</div>
			<div class="checkout-header">
				<h3><%= product.city %>, <%= product.street %></h3>
			</div>
			<div class="checkout-price">
				<span>Pris <%= product.productprice %></span>
			</div>
			<a href="/delete/<%= product._id %>">Delete</a>
		</div>
		<% }) %> <% let total = 0 %> <% for (let i = 0; i < products.length; i++) {
		%> <% total += products[i].productprice %> <% } %>
		<p class="prod-info text-right mb-1 subtotal"><%= total %> SEK</p>
		<div class="booking-form">
			<form action="/checkout/" method="post" id="order">
				<input type="text" name="firstName" placeholder="Förnamn" />
				<input type="text" name="lastName" placeholder="Efternamn" /><br />
				<input type="text" name="city" placeholder="Stad" /><br />
				<input type="text" name="street" placeholder="Gata" />
				<input type="text" name="houseNumber" placeholder="Husnummer/port" />

				<br />
				<input type="text" name="totalPrice" value="<%= total %>" hidden />
				<input type="text" name="cartNumber" placeholder="Kortnummer" />
				<input type="text" name="house-number" placeholder="CVV-kod" />
				<br />
				<button>Submit</button>
			</form>
		</div>
	</div>

	<a href="/order">Betala!</a>
</body>
<%- include("footer.ejs") %>
