<%- include("header.ejs")%>
<%- include("menu.ejs") %>

<form action="/update/:id" method="Post">

    <input type="text" name="city" id="city" value="<%=response.city%>">
    <input type="text" name="street" id="street" value="<%=response.street%>">
    <input type="text" name="descriptions" id="description" value="<%=response.descriptions%>">
    <input type="text" name="room" id="room" value="<%=response.room%>">
    <input type="text" name="productprice" id="price" value="<%=response.productprice%>">
    <input type="text" name="url1" id="url1" value="<%=response.url1%>">
    <input type="text" name="url2" id="url2" value="<%=response.url2%>">
    <input type="text" name="url3" id="url3" value="<%=response.url3%>">

    <input type="text" name="_id" value="<%=response._id%>" hidden>
    <button class="btn btn-light" type="submit">Update</button>

</form>